<h1>Welcome to Supe's Snack Shack!</h1>

<h2>Which meal are you coming for?</h2>

<h3><%= link_to "Breakfast", new_breakfast_path %></h3>
<h3><%= link_to "Lunch", new_lunch_path %></h3>
<h3><%= link_to "Dinner", new_dinner_path %></h3>