<h1>Lunch!</h1>

<h2>Welcome to your Dinner adventure!</h2>

<h3>Here is our Dinner Menu!</h3>

<table>
  <tr>
    <th>Entree</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Hamburger</td>
    <td>$7</td>
  </tr>
  <tr>
    <td>Cheeseburger</td>
    <td>$8</td>
  </tr>
  <tr>
    <td>Burrito</td>
    <td>$5</td>
  </tr>
  <tr>
    <td>Meatloaf</td>
    <td>$10</td>
  </tr>
  <tr>
    <td>Quesadilla</td>
    <td>$7</td>
  </tr>
</table>

<table>
  <tr>
    <th>Sides</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Fries</td>
    <td>$3</td>
  </tr>
  <tr>
    <td>Salad</td>
    <td>$4</td>
  </tr>
  <tr>
    <td>Chips</td>
    <td>$2</td>
  </tr>
</table>

<%= render 'form', lunch: @lunch %>

<%= link_to 'Back', lunches_path %>
