<h1>Breakfast!</h1>

<h2>Welcome to your breakfast adventure!</h2>

<h3>Here is our Breakfast Menu!</h3>

<table>
  <tr>
    <th>Entree</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Omelet</td>
    <td>$6</td>
  </tr>
  <tr>
    <td>Pancakes</td>
    <td>$5</td>
  </tr>
  <tr>
    <td>Crepes</td>
    <td>$7</td>
  </tr>
  <tr>
    <td>Smoothie</td>
    <td>$8</td>
  </tr>
  <tr>
    <td>Quiche</td>
    <td>$8</td>
  </tr>
</table>

<table>
  <tr>
    <th>Sides</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Hashbrowns</td>
    <td>$3</td>
  </tr>
  <tr>
    <td>Sausage</td>
    <td>$4</td>
  </tr>
  <tr>
    <td>Bacon</td>
    <td>$2</td>
  </tr>
</table>

<p>Please type the names of the delicious item Entree, and sides you would like to order</p>

<%= render 'form', breakfast: @breakfast %>

<%= link_to 'Back', breakfasts_path %>
